{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css" 
    integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" 
    crossorigin="anonymous"
  >
  <style>
    #calendar{
      width: 80%;
      margin: auto;
    }
  </style>
{% endblock %}
{% block body %}
  <div id="calendar">
  </div>
{% endblock %}

{% block javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js" 
    integrity="sha256-PL1mKrYeZkM5SsJ5nydN6463HLkV918bgDdYL0I5Z+k=" 
    crossorigin="anonymous">
  </script>
  <script>
    window.onload = () => {
      let calendarElt = document.querySelector("#calendar")

      let cal
    }
  </script>
{% endblock %}