{% extends 'base.html.twig' %}

{% block title %}Hello AdminUserController!{% endblock %}

{% block body %}
  {% include "admin/navbarAdmin.html.twig" %}
  <div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae impedit exercitationem, adipisci sed provident similique cum, consequatur placeat eligendi velit ex dolorum veritatis sit sequi ducimus temporibus maxime minima illum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae impedit exercitationem, adipisci sed provident similique cum, consequatur placeat eligendi velit ex dolorum veritatis sit sequi ducimus temporibus maxime minima illum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae impedit exercitationem, adipisci sed provident similique cum, consequatur placeat eligendi velit ex dolorum veritatis sit sequi ducimus temporibus maxime minima illum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae impedit exercitationem, adipisci sed provident similique cum, consequatur placeat eligendi velit ex dolorum veritatis sit sequi ducimus temporibus maxime minima illum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae impedit exercitationem, adipisci sed provident similique cum, consequatur placeat eligendi velit ex dolorum veritatis sit sequi ducimus temporibus maxime minima illum?</p>
  </div>
{% endblock %}
