<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Brand -->
  <a class="navbar-brand" href="{{path('home')}}">Admin</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link bg-success" href="{{path('presentation')}}">Ajout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-danger"href="{{path('admin')}}">Supression</a>
    </li>
  </ul>

</nav>