{% extends "front-office/base.html.twig" %} {% block body %}
<div class="row">
  <div class="col-8 bg-danger">
    <h1>Page introuvable</h1>
  </div>
  <p>
    The requested page couldn't be located. Checkout for any URL misspelling or
    <a href="{{ path('home') }}">return to the homepage</a>
  </p>
</div>
{% endblock %}